services:
  kstream-infra-mongo:
    image: mongo:7.0
    container_name: kstream-infra-mongo-01
    ports:
      - "27017:27017"
    entrypoint: [ "bash", "/usr/local/bin/mongo-replica-set-init.sh" ]
    volumes:
      - ./infra/mongodb-keyfile/mongo-keyfile:/etc/mongo-keyfile:ro
      - ./infra/mongodb-init/mongo-replica-set-init.sh:/usr/local/bin/mongo-replica-set-init.sh:ro
    networks:
      - kstream-net
  kstream-infra-zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    container_name: kstream-infra-zookeeper-01
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    networks:
      - kstream-net
  kstream-infra-kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: kstream-infra-kafka-01
    depends_on:
      - kstream-infra-zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: kstream-infra-zookeeper:2181
      # Allows your local Spring Boot app to connect via localhost:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kstream-infra-kafka:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    networks:
      - kstream-net


volumes:
  mongo_data:
    external: true

networks:
  kstream-net:
    driver: bridge