services:
  kstream-infra-mongo:
    image: mongo:7.0
    container_name: kstream-infra-mongo-01
    ports:
      - "27017:27017"
    entrypoint: [ "bash", "/usr/local/bin/mongo-replica-set-init.sh" ]
    volumes:
      - ./infra/mongodb-keyfile/mongo-keyfile:/etc/mongo-keyfile:ro
      - ./infra/mongodb-init/mongo-replica-set-init.sh:/usr/local/bin/mongo-replica-set-init.sh:ro
    networks:
      - kstream-net

  kstream-infra-zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    container_name: kstream-infra-zookeeper-01
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    networks:
      - kstream-net

  kstream-infra-kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: kstream-infra-kafka-01
    depends_on:
      - kstream-infra-zookeeper
    ports:
      - "29092:29092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: kstream-infra-zookeeper:2181
      # INTERNAL: Communication within the docker network (kstream-infra-kafka:9092)
      # EXTERNAL: Communication from your host machine/IDE (localhost:29092)
      KAFKA_ADVERTISED_LISTENERS: INTERNAL://kstream-infra-kafka:9092,EXTERNAL://localhost:29092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: INTERNAL
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_DEFAULT_REPLICATION_FACTOR: 1
      KAFKA_NUM_PARTITIONS: 1
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
    networks:
      - kstream-net

networks:
  kstream-net:
    driver: bridge